body{
  display:flex;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(234, 234, 234);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-container img{
    width: 40vw;
    height:100vh;
    min-width: 250px;
    min-height: 250px;
    display: inline-block;
}

.right-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}


form{
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  width:60vw;
  height: 30vh;
  line-height: 2.0;
  padding:0;
  box-shadow: 0 10px 5px -5px lightgray;

}

label{
  display: block;
  margin:5px;
}

input{
    display:block;
    padding:5px;
    width:60%;
    margin-top: 1rem;

}

.first-row, .second-row{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.first-row{
    margin-left:2rem;
}

.top, h3{
    margin-left:32px;
}

button{
    margin-top: 1rem;
    margin-left: 32px;
    background-color: rgb(75, 122, 75);
    padding-left:80px;
    padding-right:80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:10px;
    color:white;
    box-shadow: 0 10px 5px -5px lightgray;
    border-style:solid;

}